---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: newrelic
  namespace: default
automountServiceAccountToken: true
---
apiVersion: v1
kind: Namespace
metadata:
  name: test-ns
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: newrelic
rules:
  - apiGroups: [""]
    resources:
      - "nodes"
      - "nodes/metrics"
      - "nodes/stats"
      - "nodes/proxy"
      - "pods"
      - "services"
      - "namespaces"
    verbs: ["get", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: newrelic
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: newrelic
subjects:
  - kind: ServiceAccount
    name: newrelic
    namespace: default
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: echo-server
  namespace: default
  labels:
    app: echo-server
    env: development
    ns: default
spec:
  selector:
    matchLabels:
      app: echo-server
      env: development
      ns: default
  replicas: 1
  template:
    metadata:
      labels:
        app: echo-server
        env: development
        ns: default
    spec:
      containers:
        - name: echo
          image: k8s.gcr.io/echoserver:1.10
          ports:
            - containerPort: 8080
        - name: default-nginx
          image: nginx:alpine
          ports:
            - containerPort: 80
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: echo-server
  namespace: test-ns
  labels:
    app: echo-server
    env: development
    ns: test
spec:
  selector:
    matchLabels:
      app: echo-server
      env: development
      ns: test
  replicas: 1
  template:
    metadata:
      labels:
        app: echo-server
        env: development
        ns: test
    spec:
      containers:
        - name: echo
          image: k8s.gcr.io/echoserver:1.10
          ports:
            - containerPort: 8081
        - name: test-ns-nginx
          image: nginx:alpine
          ports:
            - containerPort: 81
---
apiVersion: batch/v1
kind: Job
metadata:
  name: nri-discovery-kubernetes
  namespace: default
  labels:
    app: nri-discovery-kubernetes
spec:
  template:
    metadata:
      labels:
        app: nri-discovery-kubernetes
    spec:
      serviceAccountName: newrelic
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      containers:
        - name: nri-discovery-kubernetes
          image: newrelic/nri-discovery-kubernetes
          # uncomment below to configure discovery execution
          # args:
          #  - "--port=10250"
          #  - "tls"
          #  - "namespaces=default,test"
          securityContext:
            privileged: true
      restartPolicy: Never
---
# Services for echo-server deployment (default namespace)
apiVersion: v1
kind: Service
metadata:
  name: echo-server
  namespace: default
  labels:
    app: echo-server
    env: development
  annotations:
    description: "Echo server service for testing"
    team: platform
spec:
  type: ClusterIP
  selector:
    app: echo-server
    env: development
    ns: default
  ports:
  - name: echo
    port: 8080
    targetPort: 8080
    protocol: TCP
  - name: http
    port: 80
    targetPort: 80
    protocol: TCP
---
# NodePort service for external access
apiVersion: v1
kind: Service
metadata:
  name: echo-server-nodeport
  namespace: default
  labels:
    app: echo-server
    access: external
  annotations:
    description: "Echo server exposed via NodePort"
spec:
  type: NodePort
  selector:
    app: echo-server
    env: development
    ns: default
  ports:
  - name: echo
    port: 8080
    targetPort: 8080
    nodePort: 30080
    protocol: TCP
---
# Services for echo-server deployment (test-ns namespace)
apiVersion: v1
kind: Service
metadata:
  name: echo-server
  namespace: test-ns
  labels:
    app: echo-server
    env: development
  annotations:
    description: "Echo server service in test namespace"
    team: platform
spec:
  type: ClusterIP
  selector:
    app: echo-server
    env: development
    ns: test
  ports:
  - name: echo
    port: 8081
    targetPort: 8081
    protocol: TCP
  - name: http
    port: 81
    targetPort: 81
    protocol: TCP
---
# LoadBalancer service (demo)
apiVersion: v1
kind: Service
metadata:
  name: echo-server-lb
  namespace: test-ns
  labels:
    app: echo-server
    access: external
spec:
  type: LoadBalancer
  selector:
    app: echo-server
    env: development
    ns: test
  ports:
  - name: echo
    port: 8081
    targetPort: 8081
    protocol: TCP
---
# Headless service (for StatefulSets, DNS records)
apiVersion: v1
kind: Service
metadata:
  name: echo-server-headless
  namespace: test-ns
  labels:
    app: echo-server
    service-type: headless
spec:
  clusterIP: None
  selector:
    app: echo-server
    env: development
    ns: test
  ports:
  - name: echo
    port: 8081
    targetPort: 8081
    protocol: TCP
